@import url('https://fonts.googleapis.com/css?family=Chewy|Cookie|Indie+Flower|Kaushan+Script|Playfair+Display+SC|Poiret+One|Poppins|Rock+Salt|Satisfy');

html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

body{
	background-image: url(../img/travel.jpg);
	background-size: cover;
	background-attachment: fixed;
	z-index: -1;
}

.cor{
	background-color: black;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0.5;
	z-index: -1;
}

section{
	width: 100%;
	margin: 0 auto;
	height: 100vh;
}

.title{
	padding-top: 5%;
	padding-bottom: 0;
}

.title, .sobre{
	z-index: 2;
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: white;
}
.title h1, .sobre h1{
	font-size: 150px;
	margin-bottom: 0;
	padding: 0;
}
.title h2, .sobre h2{
	font-size: 100px;
	padding: 0;
	margin-top: 0;
}

.sobre h2{
	padding-top: 66px;
	margin-bottom: 2%;
	color: green;
}

.title h3, .sobre h3{
	font-size: 50px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5%;
}

.title h4, .sobre h4{
	font-size: 40px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5%;
}

.title h5, .sobre h5{
	font-size: 30px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5%;
}

.title p, .sobre p{
	font-family: 'Indie Flower', cursive;
	font-size: 22px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5%;
	width: 50%;
	margin: 0 auto;
	background-color: black;
}

.sobre{
	background-image: url("../img/viagem-carro.jpg");
	background-size: 100%;
	background-color: #00b3b3;
	padding-top: 150px;
}



nav{
	width: 100%;
	margin: 0 auto;
	z-index: 2;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: transparent;
    position: fixed;
    top: 0;
    transition: background 0.3s ease-in;
	width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 8px;
    padding-bottom: 8px;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 8px 5px 8px;
    margin: 0px 6px 0px 6px;
    text-decoration: none;
    border-bottom: 1px solid white;

}

.link-right{
	float: right;
	border-left: 1px solid white; 
	border-right: 1px solid white; 
}

.link-right:hover{
	border-right: 3px solid white;
	border-left: 3px solid white;
	
}

nav li a:hover {
    border-bottom: 3px solid white;
    font-size: 21px;
}

.alt-color{
	background-color: #000;
	transition: background 0.3s ease-in;
    box-shadow: 0 2px 8px 0 grey, 0 2px 2px 0 black;
 }

.active{
	background-color: rgba(0, 0, 0, 0.1);
	border-bottom: 5px solid white;
	font-size: 21px;
}
/*nav{
	width: 20%;
	position: fixed;
	top: 0;
	left: 0;
}
nav ul {
	z-index: 2;
	list-style-type: none;
	padding: 0;
	margin: 10px 0px 0px 15px;
	background-color: #1F3739;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
	opacity: 0.9;
}

nav a {
    display: block;
    color: white;
    padding: 8px 10px;
}

nav a:hover {
    color: black;
    background-color: #4AA292;
    font-size: 22px;
}

@media (max-width: 768px) {
	section{
		width: 90%;
	}
	nav > ul{
		position: fixed;
		top: 0;
		width: 100%;
		margin: 0;
	}
	nav li {
		text-align: center;
		float: left;
		padding: 1% 2%;
	}
	nav a:hover{
		font-size: 20px;
	}
}
@media (max-width: 590px) {

}*/