@import url('https://fonts.googleapis.com/css?family=Chewy|Cookie|Indie+Flower|Kaushan+Script|Playfair+Display+SC|Poiret+One|Poppins|Rock+Salt|Satisfy');

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,0.9);
}
 
::-webkit-scrollbar-thumb {
	background-color: #00b3b3;
}

html, body{
	padding: 0;
	margin: 0;
	height: 100%;
}

body{
	background-image: url(../img/travel.jpg);
	background-size: cover;
	background-attachment: fixed;
	z-index: -1;
}

section{
	display: none;
}

.modal{
	font-family: 'Poiret One', cursive;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1023;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background-position: center;
}

.modal-body{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1023;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.2);
}

mark{
	background-color: transparent;
	border-bottom: solid 2px #00b3b3;
	color: white;
}

.tituloModal{
	margin-top: 1%;
	margin-left: 2%;
	width: 70%;
	float: left;
	border-right: 1px solid white;
	border-bottom: 1px solid white;
	position: relative;
	height: inherit;
}

.tituloModal h1{
	font-family: 'Playfair Display SC', serif;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 2%;
}

#header{
	display: flex;
}

#info{
	margin-left: 1%;
    padding: 1%;
    width: 70%;
    display: inline-block;
    margin-right: 2%;
}

#info h3{
	display: inline-block;
	width: 48%;
	padding: 1%;
}

#info h2{
	text-align: center;
	font-family: 'Playfair Display SC', serif;
}

#header .img{
	width: 20%;
	float: left;
	opacity: 0.8;
	margin-top: 1%;
	margin-left: 3%;
	height: inherit;
}

.img img{
	width: 100%;
	height: 100%;
	border: 1px solid white;
}

.menu-modal{
	margin-top: 2%;
    position: absolute;
    width: 20%;
    background-color: black;
    display: inline-block;
}

.menu-modal h4{
    padding: 3%;
    margin: 0;
}

.menu-modal a{
	cursor: pointer;
	position: static;
	width: inherit;
}

.menu-modal h4:hover, .active-modal{
	background-color: #006666;
}

.dados, .tur{
	border-bottom: 2px solid #006666;
	background-color: rgba(255, 255, 255, 0.3);
}

.info{
	background-color: rgba(0, 0, 0, 0.8);
	width: 90%;
	z-index: 1024;
	position: fixed;
	top: 15%;
	left: 4%;
	padding: 1%;
	max-height: 70%;
	overflow-y: auto;
	color: white;
	height: inherit;
}

#fecha-modal{
	position: fixed;
	top: 2%;
	right: 5%;
	font-size: 22px;
	width: auto;
	height: 30px;
	text-align: center;
	border: 1px solid white;
	background-color: rgba(0, 0, 0, 0.5);
}

.cor{
	background-color: black;
	height: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	opacity: 0.5;
	z-index: -1;
}

section{
	width: 100%;
	margin: 0 auto;
	height: 90vh;
	z-index: 2;
	text-align: center;
	font-family: 'Satisfy', cursive;
	color: white;
	padding-top: 10%;
}

.titulo h1{
	margin-top: 8%;
}

section h1{
	font-size: 150px;
	margin-bottom: 0;
	padding: 0;
}
section h2{
	font-size: 100px;
	padding: 0;
	margin-top: 0;
}

section h3{
	font-size: 50px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5%;
}

section h4{
	font-size: 40px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5%;
}

section h5{
	font-size: 30px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5%;
}

section p{
	font-family: 'Indie Flower', cursive;
	font-size: 22px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5%;
}

.titulo{
	padding-top: 5%;
	padding-bottom: 0;
}

.sobre h2{
	margin-bottom: 2%;
	color: white;
	text-shadow: #000 1px -1px 2px, #000 -1px 1px 2px, #000 1px 1px 2px, #000 -1px -1px 2px
}

.sobre p{
	width: 50%;
	margin: 0 auto;
	background-color: black;
}

.sobre{
	background-image: url("../img/viagem-carro.jpg");
	background-size: cover;
	background-color: #00b3b3;
}

.corpo-paises{
	color: #66ffff;
	width: 90%;
	margin-left: 4%;
	position: absolute;
	padding-left: 2%;
	margin-bottom: 3%;
	padding-top: 5%;
}

.paises h3{
	font-size: 80px;
	margin-bottom: 1%;
	margin-top: 1%;
}

.paises{
	padding-top: 4%;
	padding-bottom: 3%;
}

.fotos-paises{
	position: absolute;
	top: 15%;
	left: 5%;
	bottom: 5%;
	right: 5%;
	background-size: cover;
	background-position: center;
}

.titulo-img{
	font-size: 120%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 85%;
	right: 0;
	color: black;
}

.box{
	display: none;
	position: relative;
	width: 18%;	
	float: left;
	margin-right: 2%;
	margin-bottom: 2%;
	background-color: #ffffff;
}

.box:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.btn-modal, #fecha-modal{
	cursor: pointer;
}

nav{
	width: 100%;
	margin: 0 auto;
	font-family: 'Indie Flower', cursive;
	font-size: 20px;
}

nav ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: transparent;
	position: fixed;
	top: 0;
	transition: background 0.3s ease-in;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 8px;
	padding-bottom: 8px;
	z-index: 1022;
}

nav li {
	float: left;
}

nav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 10px 8px 5px 8px;
	margin: 0px 6px 0px 6px;
	text-decoration: none;
	border-bottom: 1px solid white;

}

.menu-letras{
	width: 90%;
	padding: 5%;
}

.letras{
	background-color: transparent;
	color: white;
	border: none;
	border: solid 2px transparent;
	border-bottom: solid 1px white;
	cursor: pointer;
	font-size: 30px;
	font-family: 'Indie Flower', cursive;
	outline: none;
	margin: 2px;
}

.letras:hover{
	border: 2px white solid;
	color: white;
}

.letras-active{
	color: #66ffff;
	border: solid 2px #66ffff;
}

.icon{
	display: none;
	z-index: 1022;
	cursor: pointer;
}
.icon a, .icon a:hover{
	border: none;
}

.link-right{
	float: right;
	border-left: 1px solid white; 
	border-right: 1px solid white; 
}

.link-right:hover{
	border-right: 3px solid white;
	border-left: 3px solid white;
	
}

nav li a:hover{
	border-bottom: 3px solid white;
	font-size: 21px;
}

.alt-color{
	background-color: #000;
	transition: background 0.3s ease-in;
	box-shadow: 0 2px 8px 0 grey, 0 2px 2px 0 black;
}

.active{
	background-color: rgba(0, 0, 0, 0.1);
	border-bottom: 5px solid white;
	font-size: 21px;
}

@media (min-height: 1000px) and (max-height: 1405px){
	section{
		height: 50vh;
	}
	.sobre p{
		width: 80%;
	}
	.sobre{
		height: 40vh;
	}
}

@media (max-width: 1040px) and (max-height: 1000px){
	section{
		height: auto;
	}
	.sobre{
		padding-bottom: 5%;
	}
}

@media (min-width: 779px) and (max-width: 950px){
	.box{
		width: 23%;
	}
	.titulo-img{
		font-size: 18px;
	}
	#info h3{
		width: 98%;
	}
}

@media (min-width: 600px) and (max-width: 780px){
	.titulo h1{
		font-size: 120px;
	}
	.titulo h3{
		font-size: 50px;
	}
	.box{
		width: 31.3%;
	}
	.titulo-img{
		font-size: 18px;
	}
	#info h3{
		width: 98%;
	}
}

@media (min-width: 440px) and (max-width: 599px){
	.box{
		width: 48%;
	}
	.titulo-img{
		font-size: 22px;
	}
	.titulo h1{
		font-size: 80px;
	}
	.titulo h3{
		font-size: 30px;
	}
	.sobre h2{
		font-size: 70px;
	}
	.titulo{
		padding-top: 10%;
		padding-bottom: 10%;
	}
	#info h3{
		width: 98%;
	}
}

@media (max-width: 439px){
	.box{
		width: 98%;
	}
	.titulo-img{
		font-size: 26px;
	}
	.titulo h1{
		font-size: 120px;
	}
	.titulo h3{
		font-size: 30px;
	}
}

@media (max-width: 550px){
	ul{
		background-color: black;
		height: 30px;
	}
	ul li, .link-right{
		display: none;
	}
	ul li.icon{
		display: inline-block;
		position: fixed;
		right: 0;
		top: 0;
	}
	ul.responsive {
		position: fixed; top: 0; background-color: black; height: auto;
	}
	ul.responsive li.icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	ul.responsive li {
		float: none;
		display: inline;
	}
	ul.responsive li a {
		display: block;
		text-align: left;
		border: none;
	}
	ul.responsive li a, ul.responsive .link-right {
		display: block;
		text-align: left;
		border: none;
	}
	.info{
		width: 90%;
		left: 4%;
		max-height: 92%;
		top: 8%;
	}
	#fecha-modal{
		height: 25px;
		width: auto;
		font-size: 18px;
		top: 1%;
	}
	.menu-modal{
		display: none;
	}
	.modal h1{
		font-size: 20px;
	}.modal h2{
		font-size: 18px;
	}
	#info h3{
		width: 98%;
	}
	#info{
		width: 96%;
	}
}


@media (max-height: 445px){
	section{
		height: auto;
	}
}
